html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul.floating {

  position: fixed;
  top: 0px;
  right: 4px;
  z-index: 100;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', monospace;
  color: #fff;

}

ul.floating li.label {

  width: 200px;
  padding: 2px 0;
  font-size: 14px;
  list-style: none;
  margin-top: 2px;
  background-color: #8a8a8a;
  text-align: center;

}

ul.floating li.btn {

  width: 200px;
  padding: 4px 0;
  text-indent: 20px;
  list-style: none;
  margin-top: 2px;
  background-color: #3a3a3a;

}

ul.floating li.btn:hover {

  cursor: pointer;
  background-color: #5a5a5a;

}

ul.floating li.active {

  background-color: #5a5a5a;

}